@import 'firehose_bootstrap';

body {
  padding-top: 70px;
}

.link-title {
  font-size: 20px;
}

.dropdown-menu li a {
  padding-bottom: 8px;
  padding-top: 8px;
}

.text-muted a {
  color: inherit;
}

footer img {
  width: 16px;
  height: 16px;
}
