<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="form-group">
      {{input data-test-search-input value=searchText type="search" placeholder="Search" classNames="form-control"}}
    </div>
  </div>
</div>

{{loading-indicator}}
