<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#prayerapp-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' classNames='navbar-brand' }}Firehose{{/link-to}}
    </div>
    <div class="collapse navbar-collapse" id="prayerapp-navbar">
      <ul class="nav navbar-nav navbar-right">
        {{#if session.isAuthenticated}}
          <li>{{#link-to 'links.read' data-test-read-link}}Read{{/link-to}}</li>
          <li><a href="#" {{action "signOut"}} data-test-logout-button>Sign out</a></li>
        {{else}}
          <li>{{#link-to 'login' data-test-login-link}}Sign in{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
      {{outlet}}
    </div>
  </div>
</div>

<footer class="text-center text-muted">
  <img src="/favicon-32x32.png" alt="Firehose icon" />
  Implemented with <a href="https://github.com/CodingItWrong/firehose">Firehose</a>
</footer>
