{{#if session.isAuthenticated}}
  <h1>Unread Links</h1>

  <form onsubmit={{action "handleAdd"}}>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-10">
        <div class="form-group">
          <Input
            data-test-url
            @value={{url}}
            @id="url"
            @type="url"
            @placeholder="URL to Add"
            @classNames="form-control"
          />
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="form-group">
          <BsButton
            type="submit"
            class="btn-block"
            @type="primary"
            @data-test-add-button
          >
            Add
          </BsButton>
        </div>
      </div>
    </div>
  </form>
{{/if}}

{{outlet}}
