<h2>Log in</h2>

{{#if errorMessage}}
  <BsAlert @type="danger">
    {{errorMessage}}
  </BsAlert>
{{/if}}

<BsForm
  @formLayout="vertical"
  @model={{this}}
  @onSubmit={{action "authenticate"}} as |Form|
>
  <Form.element
    @data-test-email-field
    @controlType="text"
    @label="Email"
    @placeholder="Email"
    @property="email"
    autocapitalize="off"
  />
  <Form.element
    @data-test-password-field
    @controlType="password"
    @label="Password"
    @placeholder="Password"
    @property="password"
  />
  <div class="actions">
    <BsButton
      type="submit"
      @data-test-login-button
      @type="primary"
    >
      Login
    </BsButton>
  </div>
</BsForm>
