<h2>Log in</h2>

{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}

<form {{action 'authenticate' on='submit'}}>
  <div class="form-group">
    <label for="email">Email</label><br />
    {{input data-test-email-field id='email' placeholder='Enter Email' value=email class='form-control'}}
  </div>
  <div class="form-group">
    <label for="password">Password</label><br />
    {{input data-test-password-field id='password' placeholder='Enter Password' type='password' value=password class='form-control'}}
  </div>
  <div class="actions">
    <button data-test-login-button type="submit" class="btn btn-primary">Login</button>
  </div>
</form>
