<h2>Log in</h2>

{{#if this.errorMessage}}
  <BsAlert @type="danger">
    {{this.errorMessage}}
  </BsAlert>
{{/if}}

<BsForm
  @formLayout="vertical"
  @model={{this}}
  @onSubmit={{fn this.authenticate}} as |Form|
>
  <Form.element
    @controlType="text"
    @label="Email"
    @placeholder="Email"
    @property="email"
    @autocapitalize="off"
    data-test-email-field
  />
  <Form.element
    @controlType="password"
    @label="Password"
    @placeholder="Password"
    @property="password"
    data-test-password-field
  />
  <div class="actions">
    <BsButton
      type="submit"
      @type="primary"
      data-test-login-button
    >
      Login
    </BsButton>
  </div>
</BsForm>
