<h2>Log in</h2>

{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}

<form {{action 'authenticate' on='submit'}}>
  <div class="form-group">
    <label for="email">Email</label><br />
    {{input id='email' placeholder='Enter Email' value=email class='test-email form-control'}}
  </div>
  <div class="form-group">
    <label for="password">Password</label><br />
    {{input id='password' placeholder='Enter Password' type='password' value=password class='test-password form-control'}}
  </div>
  <div class="actions">
    <button type="submit" class="test-login-button btn btn-primary">Login</button>
  </div>
</form>
