<%= link_to 'Add', new_link_path %>

<ul>
  <% @links.each do |link| %>
    <li>
      <%= link_to link.title, link.url %>
      <%= link_to 'Edit', edit_link_path(link) %>
    </li>
  <% end %>
</ul>
