{{#if showLink}}
  <li class="list-group-item clearfix h-entry">
    {{#if editing}}
      {{link-form
        link=link
        onSave=(action 'finishEditing')
        onCancel=(action 'finishEditing')}}
    {{else}}
      {{link-detail link=link onEdit=(action 'edit')}}
    {{/if}}
  </li>
{{/if}}
